---
import Layout from '../layouts/Layout.astro';
import { COLORS } from '../consts.ts';
---

<Layout title="Welcome to Astro.">
  <div class="grid">
    {COLORS.map((color, i) =>
      <a href={`/${i}`}>
        <div transition:name={`block-${i}`} style={{ background: color }}></div>
      </a>
    )}
  </div>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .grid div {
    display: block;
    aspect-ratio: 85/110;
  }
</style>
